[honeypot]
contents_path = honeyfs
hostname = prod-srv-01
domain = local

# Realistic hardware/OS fingerprints
domain = local
extracted_files_max_size = 10485760
download_limit_size = 10485760

# Shell settings
kernel_version = 5.15.0-101-generic
kernel_build_date = #111-Ubuntu SMP Tue Feb 11 19:10:02 UTC 2026
arch = x86_64

[ssh]
# Standard OpenSSH banner
version = SSH-2.0-OpenSSH_8.9p1 Ubuntu-3ubuntu0.6


enabled = true
listen_endpoints = tcp:2222:interface=0.0.0.0

[telnet]

enabled = false

[output_jsonlog]
# This is critical for your Collector service to function
enabled = true
logfile = /cowrie/var/log/cowrie/cowrie.json

[proxy]

enabled = false